openapi: 3.1.0
info:
  version: 1.0.0
  title: Swit Open API Documentation
  description: 'The Core API v1 is our initial API, enabling developers to interact with various Swit resources, such as workspaces, channels, projects, tasks, messages, and users. It serves as a practical tool for integrating your own application with Swit to boost team collaborations. Please note, the Core API v1 is slated for deprecation as we transition to Core API v2.'
  termsOfService: 'https://swit.io/privacy?sub=api-term'
  contact:
    name: Swit User & Developer Support
    url: 'https://help.swit.io/?support=true'
    email: help@swit.io
  license:
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
    name: Apache 2.0
servers:
  - url: 'https://openapi.swit.io/v1'
    description: Production
  - url: 'https://openapi.swit.express/v1'
    description: Stage
  - url: 'https://openapi2.swit.dev/v1'
    description: Development
paths:
  /api/user.info:
    get:
      tags:
        - User
      summary: Get user information
      description: Retrieves the authorizing user's basic account information.
      operationId: user.info
      responses:
        '200':
          description: Successfully retrieved the user's account information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetUserInfoResponse'
      security:
        - OAuth2Application:
            - 'user:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/user.info.update:
    post:
      tags:
        - User
      summary: Update the user's profile
      description: Updates the authorizing user's profile.
      operationId: user.info.update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_name:
                  type: string
                  description: The name of the user.
                  examples:
                    - Jane Kim
                department:
                  type: string
                  description: Previously used in the Free/Standard plans to describe the department the user is in.
                  examples:
                    - Sales
                  x-deprecated: true
                tel:
                  type: string
                  description: The telephone number of the user.
                  examples:
                    - +82-10-1234-5678
                msg:
                  type: string
                  description: The status message of the user.
                  examples:
                    - Working from home.
                is_update_all_profile:
                  type: boolean
                  description: Previously used in the Free/Standard plans to describe whether to update all profiles across all workspaces the user is in.
                  default: true
                  x-deprecated: true
                update_fields:
                  type: array
                  description: The fields to update.
                  examples:
                    - - user_name
                      - msg
                  items:
                    type: string
      responses:
        '200':
          description: Successfully updated the user profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetUserInfoResponse'
      security:
        - OAuth2Application:
            - 'user:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/presence.sync.info:
    get:
      tags:
        - User
      summary: Get the user's presence sync setting
      description: "Whether or not a `/api/presence.status.update` request can update the user's presence sync setting for your app. In UI, users can view or change this setting in User Settings > Connected apps."
      operationId: presence.sync.info
      responses:
        '200':
          description: Successfully retrieved the presence sync setting of the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/UserPresenceSyncStatusResponse'
      security:
        - OAuth2Application:
            - 'presence:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/presence.status.update:
    post:
      tags:
        - User
      summary: Update the user presence
      description: Updates the authorizing user's presence status.
      operationId: presence.status.update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  enum:
                    - 'on'
                    - do_not_disturb
                    - absence
                  description: The status of the user to update to.
                do_not_disturb_duration:
                  type: string
                  description: The duration for the Do not disturb mode.
                  examples:
                    - '1'
      responses:
        '200':
          description: Successfully updated the user's presence status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  mode:
                    enum:
                      - 'on'
                      - do_not_disturb
                      - absence
                    description: The presence status of the user.
                  is_online:
                    type: boolean
                    description: Whether the user is online.
                    default: true
                  do_not_disturb_started_at:
                    type: string
                    description: The date and time at which the Do not disturb mode started.
                    examples:
                      - '2022-04-15T05:13:48.713593Z'
                  do_not_disturb_duration:
                    type: string
                    description: The duration for the Do not disturb mode.
                    examples:
                      - '1'
                  user_id:
                    type: string
                    description: The ID of the user.
                    examples:
                      - 1908210134210XIiU3W
      security:
        - OAuth2Application:
            - 'presence:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/presence.sync.update:
    post:
      tags:
        - User
      summary: Toggle presence sync
      description: Set whether to allow your app to update the authorizing user's presence status via API.
      operationId: presence.sync.update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                is_presence_sync_on:
                  type: boolean
                  description: Whether to allow the app to update the authorizing user's presence sync.
                  default: true
      responses:
        '200':
          description: Successfully updated the presence sync setting of the app.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/UserPresenceSyncStatusResponse'
      security:
        - OAuth2Application:
            - 'presence:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/workspace.info:
    get:
      tags:
        - Workspace
      summary: Get workspace info
      description: Retrieves information about a workspace.
      operationId: workspace.info
      parameters:
        - name: id
          in: query
          description: The ID of the workspace.
          required: true
          schema:
            type: string
            examples:
              - 7kYTjHXN98FUutJK
          examples:
            default:
              value: 7kYTjHXN98FUutJK
      responses:
        '200':
          description: Successfully retrieved the workspace's information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetWorkspaceInfoResponse'
      security:
        - OAuth2Application:
            - 'workspace:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/workspace.list:
    get:
      tags:
        - Workspace
      summary: List out workspaces
      description: "Lists out a given number of workspaces the user joined. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: workspace.list
      parameters:
        - name: limit
          in: query
          description: The number of workspaces to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: offset
          in: query
          description: Pass the "offset" string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: name
          in: query
          description: The domain of the workspace to retrieve
          schema:
            type: string
            examples:
              - Test WS
          examples:
            default:
              value: Test WS
        - name: page
          in: query
          description: The page number for a paginated response
          deprecated: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved the list of workspaces.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetWorkspaceListResponse'
      security:
        - OAuth2Application:
            - 'workspace:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/workspace.update:
    post:
      tags:
        - Workspace
      summary: Update a workspace
      description: Updates an existing workspace.
      operationId: workspace.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/PutWorkspaceParam'
      responses:
        '200':
          description: Successfully updated the workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/PutWorkspaceResponse'
      security:
        - OAuth2Application:
            - 'workspace:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/workspace.user.info:
    get:
      tags:
        - Workspace
      summary: Get a workspace member's profile
      description: Retrieves a user's profile registered in a given workspace.
      operationId: workspace.user.info
      parameters:
        - name: workspace_id
          in: query
          description: The ID of the workspace.
          required: true
          schema:
            type: string
            examples:
              - 230104192047867TUC1
          examples:
            default:
              value: 230104192047867TUC1
        - name: user_id
          in: query
          description: "The ID of the user. If not passed, the signed-in user's profile will be retrieved."
          schema:
            type: string
            examples:
              - 190826072741481FcvV
          examples:
            default:
              value: 190826072741481FcvV
      responses:
        '200':
          description: Successfully retrieved the user's profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/WorkspaceUserResponse'
      security:
        - OAuth2Application:
            - 'workspace:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/workspace.user.list:
    get:
      tags:
        - Workspace
      summary: List out workspace members
      description: "Lists out a given number of members from a workspace. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: workspace.user.list
      parameters:
        - name: page
          in: query
          description: The page number for a paginated response
          deprecated: true
          schema:
            type: integer
            examples:
              - 2
          examples:
            default:
              value: 2
        - name: workspace_id
          in: query
          description: The ID of the workspace.
          required: true
          schema:
            type: string
            examples:
              - 7kPTjHXN98FUutGA
          examples:
            default:
              value: 7kPTjHXN98FUutGA
        - name: limit
          in: query
          description: The number of objects to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: keyword
          in: query
          description: 'The search keyword used to filter the member list based on their name or email. When using this parameter, make sure to pass the `type` parameter too.'
          schema:
            type: string
            examples:
              - gmail
          examples:
            default:
              value: gmail
        - name: type
          in: query
          description: Whether to search by name or email.
          schema:
            enum:
              - name
              - email
      responses:
        '200':
          description: Successfully retrieved the members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetWorkspaceUserListResponse'
      security:
        - OAuth2Application:
            - 'workspace:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/organization.workspace.invite:
    post:
      tags:
        - Workspace
      summary: Invite a member
      description: Invites a member to the workspace.
      operationId: organization.workspace.invite
      requestBody:
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddCompanyWorkspaceInviteParam'
      responses:
        '200':
          description: Successfully invited the member to the workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddCompanyWorkspaceInviteResponse'
      security:
        - OAuth2Application:
            - 'workspace:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/workspace.group.list:
    get:
      tags:
        - Workspace
      summary: Retrieve a workspace's list of groups
      description: Retrieves a list of groups in a workspace
      operationId: workspace.group.list
      parameters:
        - name: page
          in: query
          description: The page number for a paginated response.
          deprecated: true
          schema:
            type: integer
            examples:
              - 2
          examples:
            default:
              value: 2
        - name: cnt
          in: query
          description: The number of objects to return per page
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: ws_id
          in: query
          description: The ID of the workspace
          required: true
          schema:
            type: string
            examples:
              - 7kPTjHXN98FUutGA
          examples:
            default:
              value: 7kPTjHXN98FUutGA
        - name: keyword
          in: query
          description: The search keyword used to filter the group list
          schema:
            type: string
            examples:
              - US office
          examples:
            default:
              value: US office
      responses:
        '200':
          description: Successfully retrieved the workspace group list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/WorkspaceGroup'
      security:
        - OAuth2Application:
            - 'workspace:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/workspace.group.invite:
    post:
      tags:
        - Workspace
      summary: Invite users to a group in a workspace
      description: Invites a user to a group in a workspace.
      operationId: post-api-workspace.group.invite
      requestBody:
        description: The users to invite and the group and workspace to invite them to.
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  description: The ID of the workspace.
                  examples:
                    - 191028004303652vk3M
                group_id:
                  type: string
                  description: The ID of the group.
                  examples:
                    - '20071408275494180'
                user_ids:
                  type: array
                  description: The IDs of users.
                  examples:
                    - - 220327051250T3AfDDu
                      - 220828163440rQVO7Tb
                  items:
                    type: string
      responses:
        '204':
          description: No Content
      security:
        - OAuth2Application:
            - 'workspace:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/emoji.listByWorkspace:
    get:
      tags:
        - Workspace
      summary: Retrieve a custom emoji list from a workspace
      description: Retrieve the list of custom emojis used in a given workspace
      operationId: '[GET]/api/emoji.listByWorkspace'
      parameters:
        - name: ws_id
          in: query
          description: The ID of the workspace
          required: true
          schema:
            type: string
            examples:
              - 191028004303652vk3M
          examples:
            default:
              value: 191028004303652vk3M
      responses:
        '200':
          description: Successfully retrieved the emoji list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: The list of emojis.
                    items:
                      $ref: './swit-schemas.yaml#/Emoji'
      security:
        - OAuth2Application:
            - 'workspace:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/channel.info:
    get:
      tags:
        - Channel
      summary: Get a channel's information
      description: Retrieves information about a channel.
      operationId: channel.info
      parameters:
        - name: id
          in: query
          description: The ID of the channel.
          required: true
          schema:
            type: string
            examples:
              - 201027126104712l114
          examples:
            default:
              value: 201027126104712l114
      responses:
        '200':
          description: Successfully retrieved the channel's information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetChannelResponse'
      security:
        - OAuth2Application:
            - 'channel:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/channel.list:
    get:
      tags:
        - Channel
      summary: List out channels
      description: "Lists out a given number of channels from a workspace. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: channel.list
      parameters:
        - name: activity
          in: query
          description: 'Filter the list by whether the channel is active (`act`) or archived (`arch`). You can select a comma-delimited list of multiple property filters. If not passed, both filters will be selected.'
          schema:
            type: string
        - name: disclosure
          in: query
          description: 'Filter the list by whether the channel is pubic (`pub`) or private (`pri`). You can select a comma-delimited list of multiple property filters. If not passed, both filters will be selected.'
          schema:
            type: string
        - name: type
          in: query
          description: |-
            Filter the list by channel type.

            - `dfl`: The channel is the default chat room joined by all workspace members.
            - `gen`: The channel is an additionally created group chat.

            You can select a comma-delimited list of multiple type filters. If not passed, all filters will be selected.
          schema:
            type: string
        - name: name
          in: query
          description: The name of the channel.
          schema:
            type: string
            examples:
              - Marketing channel
          examples:
            default:
              value: Marketing channel
        - name: page
          in: query
          description: The page number for a paginated response.
          deprecated: true
          schema:
            type: integer
            examples:
              - 2
          examples:
            default:
              value: 2
        - name: workspace_id
          in: query
          description: The ID of the workspace.
          required: true
          schema:
            type: string
            examples:
              - 191028004303652vk3M
          examples:
            default:
              value: 191028004303652vk3M
        - name: limit
          in: query
          description: The number of channels to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
      responses:
        '200':
          description: Successfully retrieved the channels.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetChannelListResponse'
      security:
        - OAuth2Application:
            - 'channel:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/channel.create:
    post:
      tags:
        - Channel
      summary: Create a channel
      description: Creates a new channel in a workspace.
      operationId: channel.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddChannelParam'
      responses:
        '200':
          description: Successfully created the channel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddChannelResponse'
      security:
        - OAuth2Application:
            - 'channel:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/channel.update:
    post:
      tags:
        - Channel
      summary: Update a channel
      description: Updates an existing channel.
      operationId: channel.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/PutChannelParam'
      responses:
        '200':
          description: Successfully updated the channel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/PutChannelResponse'
      security:
        - OAuth2Application:
            - 'channel:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/channel.user.list:
    get:
      tags:
        - Channel
      summary: List out channel members
      description: "Lists out a given number of members belonging to a channel. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: channel.user.list
      parameters:
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: page
          in: query
          description: The page number for a paginated response
          deprecated: true
          schema:
            type: integer
            examples:
              - 2
          examples:
            default:
              value: 2
        - name: channel_id
          in: query
          description: The ID of the channel.
          required: true
          schema:
            type: string
            examples:
              - 201027126104712l114
          examples:
            default:
              value: 201027126104712l114
        - name: limit
          in: query
          description: The number of members to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
      responses:
        '200':
          description: Successfully retrieved the channel members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetChannelUserListResponse'
      security:
        - OAuth2Application:
            - 'channel:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/channel.user.invite:
    post:
      tags:
        - Channel
      summary: Invite a user to the channel
      description: Invites a user to a channel.
      operationId: channel.AddChannelUserInvite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddChannelUserInviteParam'
      responses:
        '200':
          description: Successfully invited the users to the channel.
      security:
        - OAuth2Application:
            - 'channel:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/channel.user.remove:
    post:
      tags:
        - Channel
      summary: Remove users from a channel
      description: Removes users from a channel
      operationId: channel.DelChannelUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelChannelUserParam'
      responses:
        '200':
          description: Successfully removed the users from the channel
      security:
        - OAuth2Application:
            - 'channel:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/channel.archive:
    post:
      tags:
        - Channel
      summary: Archive/unarchive a channel
      description: Updates a channel's archiving status.
      operationId: channel.UpdateChannelArchive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/UpdateChannelArchiveParam'
      responses:
        '204':
          description: Successfully updated the channel's archiving status.
      security:
        - OAuth2Application:
            - 'channel:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.info:
    get:
      tags:
        - Message
      summary: Get a message's information
      description: Retrieves information about a message.
      operationId: message.info
      parameters:
        - name: id
          in: query
          description: The ID of the message.
          required: true
          schema:
            type: string
            examples:
              - 21080607597093STYhd
          examples:
            default:
              value: 21080607597093STYhd
      responses:
        '200':
          description: Successfully retrieved information about the message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/Message'
      security:
        - OAuth2Application:
            - 'message:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.list:
    get:
      tags:
        - Message
      summary: List out messages
      description: "Lists out a given number of messages in a channel. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: message.list
      parameters:
        - name: limit
          in: query
          description: The number of messages to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: channel_id
          in: query
          description: The ID of the channel from which to get messages.
          required: true
          schema:
            type: string
            examples:
              - 201027126104712l114
          examples:
            default:
              value: 201027126104712l114
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
      responses:
        '200':
          description: Successfully retrieved the messages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetMessageListResponse'
      security:
        - OAuth2Application:
            - 'message:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.create:
    post:
      tags:
        - Message
      summary: Create a message
      description: Creates a message in a channel.
      operationId: message.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/CreateMessageParam'
      responses:
        '200':
          description: Successfully created the message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/CreateMessageResponse'
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.share:
    post:
      tags:
        - Message
      summary: Share a message to a channel
      description: Shares a message to a channel.
      operationId: post-api-message.share
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message_id:
                  type: string
                  description: The ID of the message.
                  examples:
                    - 21080607597093STYhd
                channel_id:
                  type: string
                  description: The ID of the channel.
                  examples:
                    - 201027126104712l114
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/CreateMessageFromMailResponse'
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.taskShare:
    post:
      tags:
        - Message
      summary: Share a task to a channel
      description: Shares a task to a channel.
      operationId: post-api-message.taskShare
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: string
                  description: ID of the task.
                  examples:
                    - 221031071570KNs6NFX
                channel_id:
                  type: string
                  description: ID of the channel.
                  examples:
                    - 201027126104712l114
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/CreateMessageFromMailResponse'
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.remove:
    post:
      tags:
        - Message
      summary: Delete a message
      description: Deletes a message in a channel.
      operationId: message.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DeleteMessageParam'
      responses:
        '200':
          description: Successfully deleted the message.
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.reaction.create:
    post:
      tags:
        - Message
      summary: React to a message
      description: Adds a reaction emoji to a message.
      operationId: message.reaction.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddMessageReactionParam'
      responses:
        '200':
          description: Successfully added the reaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddMessageReactionResponse'
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.reaction.remove:
    post:
      tags:
        - Message
      summary: Remove a reaction emoji from a message
      description: Removes a reaction emoji from a message.
      operationId: message.reaction.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelMessageReactionParam'
      responses:
        '200':
          description: Successfully removed the reaction.
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.comment.list:
    get:
      tags:
        - MessageComment
      summary: List out message comments
      description: "Lists out a given number of comments on a message. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: message.comment.list
      parameters:
        - name: message_id
          in: query
          description: The ID of the message from which to get comments.
          required: true
          schema:
            type: string
            examples:
              - 21080607597093STYhd
          examples:
            default:
              value: 21080607597093STYhd
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: limit
          in: query
          description: The number of comments to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
      responses:
        '200':
          description: Successfully retrieved the comments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetMessageCommentListResponse'
      security:
        - OAuth2Application:
            - 'message:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.comment.create:
    post:
      tags:
        - MessageComment
      summary: Comment on a message
      description: Posts a comment on a message.
      operationId: message.comment.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/CreateMessageCommentParam'
      responses:
        '200':
          description: Successfully commented on the message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/CreateMessageCommentResponse'
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.comment.remove:
    post:
      tags:
        - MessageComment
      summary: Delete a message comment
      description: Deletes a comment on a message.
      operationId: message.comment.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DeleteMessageCommentParam'
      responses:
        '200':
          description: Successfully deleted the comment.
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/message.comment.reactionCreate:
    post:
      tags:
        - MessageComment
      summary: React to a message comment
      description: Adds a reaction emoji to a message's comment.
      operationId: post-api-message.comment.reactionCreate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                comment_id:
                  type: string
                  description: The ID of the comment to react to.
                  examples:
                    - 200401052521746EFE3
                reaction_value:
                  type: string
                  description: The key value of the reaction.
                  examples:
                    - ':joy:'
      responses:
        '204':
          description: No Content
      security:
        - OAuth2Application:
            - 'message:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.info:
    get:
      tags:
        - Idea
      summary: Get an idea's information
      description: Retrieves information about an idea.
      operationId: idea.info
      parameters:
        - name: id
          in: query
          description: The ID of the idea.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved information about the idea.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetIdeaResponse'
      security:
        - OAuth2Application:
            - 'idea:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.list:
    get:
      tags:
        - Idea
      summary: List out ideas
      description: "Lists out a given number of ideas in a channel. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: idea.list
      parameters:
        - name: channel_id
          in: query
          description: The ID of the channel from which to get posts.
          required: true
          schema:
            type: string
            examples:
              - 201027126104712l114
          examples:
            default:
              value: 201027126104712l114
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: limit
          in: query
          description: The number of posts to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
      responses:
        '200':
          description: Successfully retrieved the ideas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetIdeaListResponse'
      security:
        - OAuth2Application:
            - 'idea:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.create:
    post:
      tags:
        - Idea
      summary: Create an idea
      description: Creates a idea in a channel.
      operationId: idea.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/CreateIdeaParam'
      responses:
        '200':
          description: Successfully created the idea.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/CreateIdeaResponse'
      security:
        - OAuth2Application:
            - 'idea:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.remove:
    post:
      tags:
        - Idea
      summary: Delete an idea
      description: Deletes an idea in a channel.
      operationId: idea.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelIdeaParam'
      responses:
        '200':
          description: Successfully deleted the idea.
      security:
        - OAuth2Application:
            - 'idea:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.reaction.create:
    post:
      tags:
        - Idea
      summary: React to an idea
      description: Adds a reaction emoji to an idea.
      operationId: idea.reaction.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddIdeaReactionParam'
      responses:
        '200':
          description: Successfully added the reaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddIdeaReactionResponse'
      security:
        - OAuth2Application:
            - 'idea:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.reaction.remove:
    post:
      tags:
        - Idea
      summary: Remove a reaction emoji from an idea
      description: Removes a reaction emoji from an idea.
      operationId: idea.reaction.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelIdeaReactionParam'
      responses:
        '200':
          description: Successfully removed the reaction.
      security:
        - OAuth2Application:
            - 'idea:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.comment.list:
    get:
      tags:
        - IdeaComment
      summary: List out idea comments
      description: "Lists out a given number of comments on an idea. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: idea.comment.list
      parameters:
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: limit
          in: query
          description: The number of comments to retrieve.
          schema:
            type: integer
            examples:
              - 10
          examples:
            default:
              value: 10
        - name: idea_id
          in: query
          description: The ID of the idea from which to get comments.
          required: true
          schema:
            type: string
            examples:
              - 21080344042039BrlBU
          examples:
            default:
              value: 21080344042039BrlBU
      responses:
        '200':
          description: Successfully retrieved the comments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetIdeaCommentListResponse'
      security:
        - OAuth2Application:
            - 'idea:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.comment.create:
    post:
      tags:
        - IdeaComment
      summary: Comment on an idea
      description: Posts a comment on an idea.
      operationId: idea.comment.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/CreateIdeaCommentParam'
      responses:
        '200':
          description: Successfully commented on the idea.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/CreateIdeaCommentResponse'
      security:
        - OAuth2Application:
            - 'idea:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/idea.comment.remove:
    post:
      tags:
        - IdeaComment
      summary: Delete an idea comment
      description: Deletes a comment on an idea.
      operationId: idea.comment.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelIdeaCommentParam'
      responses:
        '200':
          description: Successfully deleted the comment.
      security:
        - OAuth2Application:
            - 'idea:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.info:
    get:
      tags:
        - Project
      summary: Get a project's information
      description: Retrieves information about a project.
      operationId: project.info
      parameters:
        - name: id
          in: query
          description: The ID of the project.
          required: true
          schema:
            type: string
            examples:
              - 2002130601276977jqA
          examples:
            default:
              value: 2002130601276977jqA
      responses:
        '200':
          description: Successfully retrieved the project's information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetProjectInfoResponse'
      security:
        - OAuth2Application:
            - 'project:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.list:
    get:
      tags:
        - Project
      summary: List out projects
      description: "Lists out a given number of projects from a workspace. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: project.list
      parameters:
        - name: workspace_id
          in: query
          description: The ID of the workspace.
          required: true
          schema:
            type: string
            examples:
              - 7kPTjHXN98FUutGA
          examples:
            default:
              value: 7kPTjHXN98FUutGA
        - name: limit
          in: query
          description: The number of projects to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: activity
          in: query
          description: 'Filter the list by whether the project is active (`act`) or archived (`arch`). You can select a comma-delimited list of multiple property filters. If not passed, both filters will be selected.'
          schema:
            type: string
        - name: disclosure
          in: query
          description: 'Filter the list by whether the project is pubic (`pub`) or private (`pri`). You can select a comma-delimited list of multiple property filters. If not passed, both filters will be selected.'
          schema:
            type: string
        - name: name
          in: query
          description: The exact name of the project (case-insensitive) to retrieve.
          deprecated: true
          schema:
            type: string
            examples:
              - Website
        - name: page
          in: query
          description: The page number for a paginated response.
          deprecated: true
          schema:
            type: integer
            examples:
              - 2
          examples:
            default:
              value: 2
      responses:
        '200':
          description: Successfully retrieved the projects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetProjectListResponse'
      security:
        - OAuth2Application:
            - 'project:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.create:
    post:
      tags:
        - Project
      summary: Create a project
      description: Creates a project in a workspace.
      operationId: project.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddProjectParam'
      responses:
        '200':
          description: Successfully created the project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddProjectResponse'
      security:
        - OAuth2Application:
            - 'project:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.update:
    post:
      tags:
        - Project
      summary: Update a project
      description: Updates an existing project in a workspace.
      operationId: project.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/PutProjectParam'
      responses:
        '200':
          description: Successfully updated the project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/PutProjectResponse'
      security:
        - OAuth2Application:
            - 'project:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.archive:
    post:
      tags:
        - Project
      summary: Archive/unarchive a project
      description: Updates a project's archiving status.
      operationId: project.UpdateProjectArchive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/UpdateProjectArchiveParam'
      responses:
        '204':
          description: Successfully updated the project's archiving status.
      security:
        - OAuth2Application:
            - 'project:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.user.list:
    get:
      tags:
        - Project
      summary: List out project members
      description: "Lists out a given number of members belonging to a project. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: project.user.list
      parameters:
        - name: project_id
          in: query
          description: The ID of the project.
          required: true
          schema:
            type: string
            examples:
              - 2002130601276977jqA
          examples:
            default:
              value: 2002130601276977jqA
        - name: limit
          in: query
          description: The number of members to retrieve.
          schema:
            type: integer
            examples:
              - 10
          examples:
            default:
              value: 10
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: page
          in: query
          description: The page number for a paginated response
          deprecated: true
          schema:
            type: integer
            examples:
              - 2
          examples:
            default:
              value: 2
      responses:
        '200':
          description: Successfully retrieved the members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetProjectUserListResponse'
      security:
        - OAuth2Application:
            - 'project:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.user.invite:
    post:
      tags:
        - Project
      summary: Invite users to a project
      description: Invites users to a project.
      operationId: post-api-project.user.invite
      requestBody:
        description: The users to invite and the project to invite them to.
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id:
                  type: string
                  description: The ID of the project.
                  examples:
                    - 2002130601276977jqA
                user_ids:
                  type: array
                  description: The IDs of users.
                  examples:
                    - - 190826072741481FcvV
                      - 220113011810x7bqTRU
                  items:
                    type: string
      responses:
        '204':
          description: No Content
      security:
        - OAuth2Application:
            - 'project:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.tagList:
    get:
      tags:
        - Project
      summary: List out task tags
      description: |-
        Lists out all task tags used in a project.

        Assigned to tasks of a project, tags facilitate filtering or searching
        those tasks for viewing convenience. This method enumerates all tags
        assigned at least once to any task of the target project.
      operationId: project.tagList
      parameters:
        - name: id
          in: query
          description: The ID of the project.
          required: true
          schema:
            type: string
            examples:
              - 2002130601276977jqA
          examples:
            default:
              value: 2002130601276977jqA
        - name: limit
          in: query
          description: The number of tags to retrieve.
          schema:
            type: integer
            examples:
              - 10
          examples:
            default:
              value: 10
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
      responses:
        '200':
          description: Successfully retrieved the tags from the project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetProjectTagListResponse'
      security:
        - OAuth2Application:
            - 'project:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.status.list:
    get:
      tags:
        - Project
      summary: List out statuses in a project
      description: Lists out the list of statuses in a given project.
      operationId: task.status.list
      parameters:
        - name: project_id
          in: query
          description: The ID of the project.
          required: true
          schema:
            type: string
            examples:
              - 190910100433344Dtjf
          examples:
            default:
              value: 190910100433344Dtjf
      responses:
        '200':
          description: Successfully retrieved the list of statuses in a project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: An object wrapping a Swit resource.
                    properties:
                      status_list:
                        type: array
                        description: Statuses in the project.
                        items:
                          $ref: './swit-schemas.yaml#/StatusCustom'
      security:
        - OAuth2Application:
            - 'task:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.bucket.info:
    get:
      tags:
        - ProjectBucket
      summary: Get a task bucket's information
      description: Retrieves information about a task bucket.
      operationId: project.bucket.info
      parameters:
        - name: project_id
          in: query
          description: The ID of the project that contains the bucket.
          required: true
          schema:
            type: string
            examples:
              - 2002130601276977jqA
          examples:
            default:
              value: 2002130601276977jqA
        - name: id
          in: query
          description: The ID of the bucket the task is in.
          required: true
          schema:
            type: string
            examples:
              - 290324092890QsjMT8I
          examples:
            default:
              value: 290324092890QsjMT8I
      responses:
        '200':
          description: Successfully retrieved the bucket's information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetProjectBucketInfoResponse'
      security:
        - OAuth2Application:
            - 'project:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.bucket.list:
    get:
      tags:
        - ProjectBucket
      summary: List out task buckets
      description: Lists out all task buckets from a project.
      operationId: project.bucket.list
      parameters:
        - name: project_id
          in: query
          description: The ID of the project.
          required: true
          schema:
            type: string
            examples:
              - 2002130601276977jqA
          examples:
            default:
              value: 2002130601276977jqA
        - name: limit
          in: query
          description: The number of buckets to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
      responses:
        '200':
          description: Successfully retrieved the buckets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetProjectBucketListResponse'
      security:
        - OAuth2Application:
            - 'project:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.bucket.create:
    post:
      tags:
        - ProjectBucket
      summary: Add a task bucket
      description: Adds a task bucket in a project.
      operationId: project.bucket.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddProjectBucketParam'
      responses:
        '200':
          description: Successfully added the bucket.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddProjectBucketResponse'
      security:
        - OAuth2Application:
            - 'project:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/project.bucket.update:
    post:
      tags:
        - ProjectBucket
      summary: Update a task bucket
      description: Updates the title of an existing task bucket in a project.
      operationId: project.bucket.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/PutProjectBucketParam'
      responses:
        '200':
          description: Successfully updated the bucket.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/PutProjectBucketResponse'
      security:
        - OAuth2Application:
            - 'project:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.info:
    get:
      tags:
        - Task
      summary: Get a task's information
      description: Retrieves information about a task.
      operationId: task.info
      parameters:
        - name: id
          in: query
          description: The ID of the task.
          required: true
          schema:
            type: string
            examples:
              - 190910100433344Dtjf
          examples:
            default:
              value: 190910100433344Dtjf
        - name: body_type
          in: query
          description: |-
            Whether or not to use rich styles.
            - `plain`: The `content` value will be parsed as plaintext.
            - `json_string`: The `content` value will be parsed as an object representing a rich-formatted text.
          schema:
            enum:
              - plain
              - json_string
            default: plain
      responses:
        '200':
          description: Successfully retrieved the task's information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetTaskInfoResponse'
      security:
        - OAuth2Application:
            - 'task:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.list:
    get:
      tags:
        - Task
      summary: List out tasks
      description: "Lists out a given number of tasks from a project. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: task.list
      parameters:
        - name: workspace_id
          in: query
          description: The ID of the workspace that includes the target project. Only required when `mytask` is passed to the `project_id` parameter (to get the Personal tasks).
          schema:
            type: string
            examples:
              - 7kPTjHXN98FUutGA
          examples:
            default:
              value: 7kPTjHXN98FUutGA
        - name: project_id
          in: query
          description: 'The ID of the project. To get the Personal tasks that are visible only to you, pass `mytask`.'
          required: true
          schema:
            type: string
            examples:
              - 2002130601276977jqA
          examples:
            default:
              value: 2002130601276977jqA
        - name: limit
          in: query
          description: The number of tasks to retrieve.
          schema:
            type: integer
            examples:
              - 10
          examples:
            default:
              value: 10
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: parent_id
          in: query
          description: The ID of the parent task.
          schema:
            type: string
            examples:
              - 1207810100433344Dtjy
          examples:
            default:
              value: 1207810100433344Dtjy
      responses:
        '200':
          description: Successfully retrieved the tasks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetTaskListProjectResponse'
      security:
        - OAuth2Application:
            - 'task:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.listByColumn:
    get:
      tags:
        - Task
      summary: List out tasks by bucket
      description: "Lists out a given number of tasks from a bucket. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: task.listByColumn
      parameters:
        - name: project_id
          in: query
          description: The ID of the project.
          required: true
          schema:
            type: string
            examples:
              - 2002130601276977jqA
          examples:
            default:
              value: 2002130601276977jqA
        - name: bucket_id
          in: query
          description: The ID of the task bucket.
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: The number of tasks to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
      responses:
        '200':
          description: Successfully retrieved the tasks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetTaskListByColumnResponse'
      security:
        - OAuth2Application:
            - 'task:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.myTaskList:
    get:
      tags:
        - Task
      summary: List out my tasks
      description: Lists out "my tasks" of the user from a workspace.
      operationId: task.myTaskList
      parameters:
        - name: workspace_id
          in: query
          description: The ID of the workspace.
          required: true
          schema:
            type: string
            examples:
              - 7kPTjHXN98FUutGA
          examples:
            default:
              value: 7kPTjHXN98FUutGA
        - name: limit
          in: query
          description: The number of tasks to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
      responses:
        '200':
          description: Successfully retrieved my tasks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetTaskListMineResponse'
      security:
        - OAuth2Application:
            - 'task:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.create:
    post:
      tags:
        - Task
      summary: Create a task
      description: Creates a task in a project.
      operationId: task.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddTaskParam'
      responses:
        '200':
          description: Successfully posted the task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddTaskResponse'
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.remove:
    post:
      tags:
        - Task
      summary: Delete a task
      description: Deletes a task from a project.
      operationId: task.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelTaskParam'
      responses:
        '200':
          description: Successfully deleted the task.
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.move:
    post:
      tags:
        - Task
      summary: Move a task
      description: Moves a task into another project.
      operationId: task.move
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/MoveTaskParam'
      responses:
        '200':
          description: Successfully moved the task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/MoveTaskResponse'
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.update:
    post:
      tags:
        - Task
      summary: Update a task
      description: Updates a task in a project.
      operationId: task.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/PutTaskParam'
      responses:
        '200':
          description: Successfully updated the task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/PutTaskResponse'
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.assignee.add:
    post:
      tags:
        - Task
      summary: Add an assignee
      description: Adds an assignee to a task.
      operationId: task.assignee.add
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddTaskAssigneeParam'
      responses:
        '200':
          description: Successfully added an assignee for the task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddTaskAssigneeResponse'
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.assignee.remove:
    post:
      tags:
        - Task
      summary: Remove an assignee
      description: Removes a member from the managing role for a task.
      operationId: task.assignee.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelTaskAssigneeParam'
      responses:
        '200':
          description: Successfully removed the assignee.
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.follow.add:
    post:
      tags:
        - Task
      summary: Add a collaborator
      description: Adds a collaborator to a task.
      operationId: task.follow.add
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddTaskFollowParam'
      responses:
        '200':
          description: Successfully added the collaborator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddTaskFollowResponse'
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.follow.remove:
    post:
      tags:
        - Task
      summary: Remove a collaborator
      description: Removes a collaborator from a task.
      operationId: task.follow.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelTaskFollowParam'
      responses:
        '200':
          description: Successfully removed the collaborator.
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.status.update:
    post:
      tags:
        - Task
      summary: Update the status of a task
      description: Updates the status of a task.
      operationId: task.status.update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: string
                  description: The ID of the task.
                  examples:
                    - 190910100433344Dtjf
                project_id:
                  type: string
                  description: The ID of the project.
                  examples:
                    - 2002130601276977jqA
                workspace_id:
                  type: string
                  description: The ID of the workspace.
                  examples:
                    - 210702062416646BVTPW
                to_status_id:
                  type: string
                  description: The ID of the custom status to update to.
                  examples:
                    - 23050403290569QPK9H8
      responses:
        '200':
          description: Successfully updated the status of the task.
          content:
            application/json:
              schema:
                $ref: './swit-schemas.yaml#/TaskResponse'
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.asset.append:
    post:
      tags:
        - Task
      summary: Add attachments
      description: Adds file attachments to a task.
      operationId: task.asset.append
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AppendAssetTaskParam'
      responses:
        '200':
          description: Successfully added the attachments to the task.
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
      x-internal: false
  /api/task.checklist.create:
    post:
      tags:
        - TaskChecklist
      summary: Add a checklist item
      description: Adds an item to a task's checklist.
      operationId: task.checklist.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/AddTaskCheckListParam'
      responses:
        '200':
          description: Successfully added the item to the checklist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/AddTaskCheckListResponse'
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.checklist.info:
    get:
      tags:
        - TaskChecklist
      summary: Get a checklist item's information
      description: Retrieves information about a checklist item in a task.
      operationId: task.checklist.info
      parameters:
        - name: id
          in: query
          description: The ID of the checklist item.
          required: true
          schema:
            type: string
            examples:
              - 280403052250i4iZgjT
          examples:
            default:
              value: 280403052250i4iZgjT
      responses:
        '200':
          description: Successfully retrieved information about the checklist item.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetTaskCheckListResponse'
      security:
        - OAuth2Application:
            - 'task:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.checklist.list:
    get:
      tags:
        - TaskChecklist
      summary: List out checklist items
      description: "Lists out a given number of items from a task's checklist. This method uses the Swit API's [pagination scheme](/docs/core1/up49a503iuknu-pagination-scheme)."
      operationId: task.checklist.list
      parameters:
        - name: offset
          in: query
          description: Pass the `offset` string returned by the previous call to skip already returned entries.
          schema:
            type: string
            examples:
              - MTUzOTg0NTg2NTAwMA
          examples:
            default:
              value: MTUzOTg0NTg2NTAwMA
        - name: task_id
          in: query
          description: The ID of the task.
          required: true
          schema:
            type: string
            examples:
              - 190910100433344Dtjf
          examples:
            default:
              value: 190910100433344Dtjf
        - name: limit
          in: query
          description: The number of checklist items to retrieve.
          schema:
            type: integer
            examples:
              - 5
          examples:
            default:
              value: 5
      responses:
        '200':
          description: Successfully retrieved items from the checklist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: './swit-schemas.yaml#/GetTaskCheckListListResponse'
      security:
        - OAuth2Application:
            - 'task:read'
      servers:
        - url: 'https://openapi.swit.io/v1'
          description: Production
        - url: 'https://openapi.swit.express/v1'
          description: Stage
        - url: 'https://openapi2.swit.dev/v1'
          description: Development
  /api/task.checklist.remove:
    post:
      tags:
        - TaskChecklist
      summary: Delete a checklist item
      description: Deletes an item in a task's checklist.
      operationId: task.checklist.remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './swit-schemas.yaml#/DelTaskCheckListParam'
      responses:
        '200':
          description: Successfully deleted the checklist item.
      security:
        - OAuth2Application:
            - 'task:write'
      servers:
[...]
